Extracted Data (This will avoid extraction of data from beginning) : https://drive.google.com/drive/folders/1fgCpUT5vUNm-M9CMrbAp_y4XDFm5FcE2?usp=sharing

Please add to your drive to get access.

In [0]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
     |████████████████████████████████| 11.9MB 2.9MB/s
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp36-cp36m-linux_x86_64.whl size=247949 sha256=3248387c57d99292374e3688250724affe8cc79512ef79781afe0556737ddcfa
  Stored in directory: /root/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [0]:
# Connection Variables
host = ''
port = ''
user = ''
passwd = ''
db = 'steam'

#File write variables
games_1_loc = '/var/www/html/games_1_data.csv'
games_2_loc = '/var/www/html/games_2_data.csv'
achievements = '/var/www/html/Achievement_Percentages.csv'
app_id_loc = '/var/www/html/App_ID_Info.csv'
friends_1_loc = '/var/www/html/Friends_2013_1.csv'
friends_2_loc = '/var/www/html/Friends_2013_2.csv'
genres_loc = '/var/www/html/Games_Genres.csv'
groups_loc = '/var/www/html/Groups.csv'
groups_1_loc = '/var/www/html/Groups_2013_1.csv'
groups_2_loc = '/var/www/html/Groups_2013_2.csv'
player_1_loc = '/var/www/html/Player_Summaries_2013_1.csv'
player_2_loc = '/var/www/html/Player_Summaries_2013_2.csv'

In [0]:
#Import and prepare connectors
import mysql.connector
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
mysql_cn= mysql.connector.connect(host=host, #input ip here
                port=port,user=user, passwd=passwd, #input password here
                db=db)

#Testing
df_mysql = pd.read_sql('show tables;', con=mysql_cn)
print(df_mysql)

            Tables_in_steam
0   Achievement_Percentages
1               App_ID_Info
2           App_ID_Info_Old
3                   Friends
4                   Games_1
5                   Games_2
6               Games_Daily
7          Games_Developers
8      Games_Developers_Old
9              Games_Genres
10         Games_Genres_Old
11         Games_Publishers
12     Games_Publishers_Old
13                   Groups
14         Player_Summaries
15  addicted_players_2013_1
16  addicted_players_2013_2
17  addicted_players_2014_1

In [0]:
#Drop tables if exists
"""
try:
    pd.read_sql("drop table addicted_players_2013_1;",
        con=mysql_cn)
except:
    print("Its expected.")
    
try:
    pd.read_sql("drop table addicted_players_2013_2;",
        con=mysql_cn)
except:
    print("Its expected.")
    
try:
    pd.read_sql("drop table addicted_players_2014_1;",
        con=mysql_cn)
except:
    print("Its expected.")
    """

Its expected.

In [0]:
#Create table for addicted players Games1: Over 5040: 6 hours per 2 weeks
try:
    pd.read_sql("create table addicted_players_2013_1 as select steamid from Games_1 group by steamid having sum(playtime_2weeks)>=5040;",
        con=mysql_cn)
except:
    print("Its expected.")

Its expected.

In [0]:
#Create table for addicted players Games1: Over 5040 minutes per 2 weeks
try:
    pd.read_sql("create table addicted_players_2013_2 as select steamid from Games_2 group by steamid having sum(playtime_2weeks)>=5040;",
        con=mysql_cn)
except:
    print("Its expected.")

Its expected.

In [0]:
#Create table for addicted players Games1: Over 5040 minutes per 2 weeks
try:
    pd.read_sql("create table addicted_players_2014_1 as select steamid from Games_Daily group by steamid having sum(playtime_2weeks)>=5040;",
        con=mysql_cn)
except:
    print("Its expected.")

Its expected.

In [0]:
#Check
#pd.read_sql("select count(*) from addicted_players_2013_1;", con=mysql_cn) #250075
#pd.read_sql("select count(*) from addicted_players_2013_2;", con=mysql_cn) #368026
#pd.read_sql("select count(*) from addicted_players_2014_1;", con=mysql_cn) #32372

   count(*)
0     32372

In [0]:
pd.read_sql(" select count(*) from Games_1", con=mysql_cn) #384270567
pd.read_sql(" select count(distinct steamid) from Games_1", con=mysql_cn) #38772794

   count(distinct steamid)
0                 38772794

In [0]:
games_1_data = pd.read_sql(" select g.* from Games_1 g, addicted_players_2013_1 a where g.steamid=a.steamid ;",
        con=mysql_cn)
games_1_data.count()
games_1_data.head(n=10)

             steamid  appid  playtime_2weeks  playtime_forever       dateretrieved
0  76561197960266039     10              7.0            1311.0 2013-05-06 16:00:46
1  76561197960266039     20              NaN             391.0 2013-05-06 16:00:46
2  76561197960266039     30              NaN               0.0 2013-05-06 16:00:46
3  76561197960266039     40              NaN             748.0 2013-05-06 16:00:46
4  76561197960266039     50              NaN               NaN 2013-05-06 16:00:46
5  76561197960266039     60              NaN               NaN 2013-05-06 16:00:46
6  76561197960266039     70              NaN            6766.0 2013-05-06 16:00:46
7  76561197960266039    130              NaN               NaN 2013-05-06 16:00:46
8  76561197960266039    220              NaN               1.0 2013-05-06 16:00:46
9  76561197960266039    240           1286.0            9102.0 2013-05-06 16:00:46

In [0]:
games_1_data.to_csv(games_1_loc,index=False)

In [0]:
#pd.read_sql(" select count(*) from Games_2", con=mysql_cn) #715746018
#pd.read_sql(" select count(distinct steamid) from Games_2", con=mysql_cn) #46093327

   count(distinct steamid)
0                 46093327

In [0]:
games_2_data = pd.read_sql(" select g.* from Games_2 g, addicted_players_2013_2 a where g.steamid=a.steamid;",
        con=mysql_cn)
games_2_data.head(n=10)

             steamid  appid  playtime_2weeks  playtime_forever       dateretrieved
0  76561197960265793     10              NaN               479 2014-08-14 14:04:47
1  76561197960265793     20              NaN                 0 2014-08-14 14:04:47
2  76561197960265793     30              NaN                 0 2014-08-14 14:04:47
3  76561197960265793     40              NaN                 0 2014-08-14 14:04:47
4  76561197960265793     50              NaN                 0 2014-08-14 14:04:47
5  76561197960265793     60              NaN                 0 2014-08-14 14:04:47
6  76561197960265793     70              NaN                 0 2014-08-14 14:04:47
7  76561197960265793    130              NaN                 0 2014-08-14 14:04:47
8  76561197960265793    220              NaN               720 2014-08-14 14:04:47
9  76561197960265793    240              NaN             45164 2014-08-14 14:04:47

In [0]:
games_2_data.to_csv(games_2_loc,index=False)

In [0]:
Achievement_Percentages = pd.read_sql(" select * from Achievement_Percentages;",
        con=mysql_cn)
Achievement_Percentages.head(n=10)
Achievement_Percentages.to_csv(achievements,index=False)

   appid                           Name  Percentage
0     50                           ach0    0.091038
1     50                           ach1    0.088308
2     50                           ach2    0.088496
3     50                       grp_ach0    0.010733
4     50                       grp_ach1    0.010638
5     60                   FinishedGame    0.061754
6     60                 FoundEasterEgg    0.061636
7     60                     Invincible    0.006921
8    220  HL2_BEAT_C1713STRIDERSTANDOFF   16.544800
9    220              HL2_BEAT_CEMETERY   24.544300

In [0]:
pd.read_sql(" select avg(Percentage) from Achievement_Percentages;",
        con=mysql_cn) #12.495696

   avg(Percentage)
0        12.495696

In [0]:
App_ID_Info = pd.read_sql(" select * from App_ID_Info;",
        con=mysql_cn)
App_ID_Info.to_csv(app_id_loc,index=False)

In [0]:
pd.read_sql(" select * from Friends limit 10;",
        con=mysql_cn)

           steamid_a          steamid_b relationship        friend_since       dateretrieved LccTag
0  76561197960265729  76561197967144365       friend 2012-07-12 14:56:57 2013-05-10 16:33:54   None
1  76561197960265730  76561197960265733       friend 1969-12-31 17:00:00 2013-05-06 15:14:15   None
2  76561197960265730  76561197974593417       friend 2012-09-10 15:45:17 2013-05-06 02:09:27   None
3  76561197960265730  76561197984632295       friend 1969-12-31 17:00:00 2013-05-19 11:51:55   None
4  76561197960265730  76561197992219796       friend 2009-07-31 16:26:04 2013-05-27 17:06:57   None
5  76561197960265730  76561198010062752       friend 2012-12-20 23:41:10 2013-05-06 02:09:27   None
6  76561197960265730  76561198057927861       friend 2012-10-06 10:36:01 2013-05-06 02:09:27   None
7  76561197960265730  76561198064472375       friend 2012-06-04 11:15:43 2013-05-06 02:09:27   None
8  76561197960265730  76561198064472489       friend 2012-06-04 11:30:13 2013-05-06 02:09:27   None
9  76561197960265730  76561198064514762       friend 2012-06-04 11:16:49 2013-05-06 02:09:27   None

In [0]:
pd.read_sql(" select count(*) from Friends;", con=mysql_cn) #392732150
pd.read_sql(" select count(distinct steamid_a) from Friends;", con=mysql_cn)

In [0]:
Friends_2013_1 = pd.read_sql(" select f.* from Friends f, addicted_players_2013_1 a where f.steamid_a=a.steamid;",
        con=mysql_cn)
Friends_2013_1.to_csv(friends_1_loc,index=False)

In [0]:
#Add_Friends_2013_1 = 
pd.read_sql("select count(distinct steamid_a) from Friends",
        con=mysql_cn) #33119781
#Add_Friends_2013_1.to_csv('/var/www/html/Add_Friends_2013_1.csv',index=False)

   count(distinct steamid_a)
0                   33119781

In [0]:
Friends_2013_2 = pd.read_sql(" select f.* from Friends f, addicted_players_2013_2 a where f.steamid_a=a.steamid;",
        con=mysql_cn)
Friends_2013_2.to_csv(friends_2_loc,index=False)

In [0]:
Games_Genres = pd.read_sql(" select * from Games_Genres;",
        con=mysql_cn)
Games_Genres.to_csv(genres_loc,index=False)

In [0]:
#pd.read_sql(" select * from Games_Publishers;", con=mysql_cn)

#pd.read_sql(" select * from Games_Developers;", con=mysql_cn)

In [0]:
pd.read_sql(" select * from Groups limit 10;", con=mysql_cn)

In [0]:
Groups = pd.read_sql(" select groupid,count(*) as count from Groups group by groupid;",
        con=mysql_cn)
Groups.to_csv(groups_loc,index=False)

In [0]:
Groups_2013_1 = pd.read_sql(" select g.* from Groups g, addicted_players_2013_1 a where g.steamid=a.steamid;",
        con=mysql_cn)
Groups_2013_1.to_csv(groups_1_loc,index=False)

In [0]:
Groups_2013_2 = pd.read_sql(" select g.* from Groups g, addicted_players_2013_2 a where g.steamid=a.steamid;",
        con=mysql_cn)
Groups_2013_2.to_csv(groups_2_loc,index=False)

In [0]:
pd.read_sql(" select * from Player_Summaries limit 5;", con=mysql_cn)

             steamid personaname                                         profileurl                                             avatar                                       avatarmedium                                         avatarfull  personastate  communityvisibilitystate  profilestate          lastlogoff  commentpermission      realname  primaryclanid         timecreated gameid gameserverip gameextrainfo cityid loccountrycode locstatecode  loccityid       dateretrieved
0  76561197960265729        rich  http://steamcommunity.com/profiles/76561197960...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             0                         3             1 2012-10-24 12:40:31                NaN          None   1.035828e+17                 NaT   None         None          None   None           None         None        NaN 2013-02-28 14:19:00
1  76561197960265730      alfred                  http://steamcommunity.com/id/zoe/  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             1                         3             1 2013-02-15 11:57:54                NaN        Alfred   1.035828e+17 2003-09-10 05:27:21   None         None          None   None           None         None        NaN 2013-02-28 14:34:05
2  76561197960265731       ErikJ                http://steamcommunity.com/id/erikj/  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             0                         3             1 2013-02-15 11:08:34                1.0  Erik Johnson   1.035828e+17 2003-09-10 05:14:46   None         None          None   None             US         None        NaN 2013-02-28 14:19:00
3  76561197960265732       paulj                  http://steamcommunity.com/id/OG2/  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             0                         1             1 2011-07-07 18:09:55                NaN          None            NaN                 NaT   None         None          None   None           None         None        NaN 2013-02-28 14:34:05
4  76561197960265733      alfred              http://steamcommunity.com/id/alfredr/  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             0                         3             1 2013-02-15 13:19:12                NaN          None   1.035828e+17 2003-09-10 05:27:13   None         None          None   None             US           WA     3961.0 2013-02-28 14:19:00

In [0]:
Player_Summaries_2013_1 = pd.read_sql(" select p.* from Player_Summaries p, addicted_players_2013_1 a where p.steamid=a.steamid;",
        con=mysql_cn)
Player_Summaries_2013_1.to_csv(player_1_loc,index=False)

In [0]:
Player_Summaries_2013_2 = pd.read_sql(" select p.* from Player_Summaries p, addicted_players_2013_2 a where p.steamid=a.steamid;",
        con=mysql_cn)
Player_Summaries_2013_2.to_csv(player_2_loc,index=False)